body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {

  width:96%;
  margin-left: auto;
  margin-right: auto;

}

.contentArea{
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

.table-operations{

margin-bottom: 10px;

}
.ant-table-wrapper .ant-pagination{
  display: none !important;
}

#loginForm .contentArea {
  width:40% !important;
  margin-left: auto !important;
  margin-right: auto!important;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.tableButton {
  margin-left: auto !important;
  margin-top: 10px !important;
  margin-right: auto !important;
  align-items: center !important;
  text-align: center !important;
}

.headNavBar{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.ant-table-thead th{
  width:60px !important;
}
.ant-table-row td{
  width:40px !important;
}
